
#filtersContainer{

    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}

/* Styles des filtres */
#filters {

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 80%;
}

/* Styles des Btn d'ingrédients, d'appareils et d'ustensiles */
.filterBtn{

    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 20px;
    padding: 15px 10px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    font-family: "Manrope";
    font-weight: 500;
    font-size: 16px;
}
.filterBtn.active{

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.filterBtnName{
    z-index:10;
}

.fa-magnifying-glass::before{

    color:#afafaf;
    padding:0;
}

.filterList{
    
    position:absolute;
    padding: 10px;
    left:0px;
    top:50px;
    width:200px;;
    background-color: white;
    z-index:1
}

.filter,
.filterOption{
    display: flex;
    justify-content: space-between;
    cursor: pointer;    
}

.filterOption{
    padding:10px 15px;

}

.label.icon,
.filter-icon{
    cursor: pointer;
    scale:1
    
}


.filterName #text::first-letter{

    text-transform:uppercase
}



.filterOption.active{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    background-color: #FFD15B;
}



.filterOption.hovered{

    background-color: #FFD15B;
}


.InputFilterBtn{

    display:flex;
    padding: 5px 0;
    margin-bottom:10px;
    border:2px solid #afafaf;
    border-radius: 5px;
}

.InputFilterBtn input{

    width: 100%;
    border:none;
    outline: none;
    
}

.InputFilterBtn button{
    
    border:none;
    background-color: white;
}

button i{

    color: #dfdfdf;
    padding:0 5px;
}