/* Conteneurs des filtres et des labels */
#labelsContainer {

    display: flex;
    justify-content: start;
    margin: 0 40px;
    justify-content: start;
}

/* Styles des labels */

.labels {

    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 20px;
    padding: 15px 10px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    font-family: "Manrope";
    font-weight: 500;
    font-size: 16px;
}

/* Styles des labels */
.labels {

    align-items: center;
    background-color: #FFD15B;
    width:fit-content
}

/* Styles du contenu des labels */
.label-content {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    width: fit-content;
}

.label-icon{
    margin:0px 5px 0px 20px;
    cursor: pointer;
}

.filter-icon:hover,
.label-icon:hover{
    scale:1.5
}