/* Importation des polices Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('./filters.css');
@import url('./labels.css');

/* Réinitialisation des marges, des paddings et de la boîte */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1b1b1b;
}

/* Styles généraux du corps de la page */
body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #f0eeee;
    font-family: 'Manrope';
}

.hidden {
    display: none;
}


.visible {
    display: flex;
}

/* Styles de l'en-tête */
header {
    position: absolute;
    background-color: transparent;
    width: 100%;
    z-index: 1;
}

/* Styles du nom du site */
#siteName {
    padding: 20px 0 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

/* Styles du logo */
#logo {
    width: 200px;
}

/* Styles des ellipses */
#ellipseOut {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    margin-left: 10px;
    background-color: aliceblue;
}

#ellipseIn {
    border: 1px solid black;
    width: 75%;
    height: 75%;
    border-radius: 50%;
}

/* Styles du héros */
#hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/Images/Hero/lampos-aritonang-24gR_9lCdes-unsplash\ 1\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 100%;
}

/* Styles du message de bienvenue */
#welcome {
    display: flex;
    text-align: center;
    width: 45%;
    padding: 10px 20px;
    background: transparent;
    height: fit-content;
    color: #FFD15B;
    font-family: 'anton';
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Styles du label de recherche */
#labelSearch {
    display: flex;
    width: 60%;
    border-radius: 5px;
    padding: 5px;
    background-color: aliceblue;
}

/* Styles de la zone de recherche */
#mainSearchInput {
    display: flex;
    height: 100%;
    width: calc(100% - 2rem);
    border: none;
    outline: none;
    padding: 5px 10px;
}

/* Styles du bouton de recherche */
#mainSearchButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    background-color: #1b1b1b;
}

#mainSearchIcon {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

#mainSearchButton #mainSearchIcon::before {
    color: grey;
    font-weight: 550;
    font-size: large;
}

#mainSearchButton:hover {
    background-color: #FFD15B;
    border-top: 1px solid #1b1b1b;
    border-left: 1px solid #1b1b1b;
    border-bottom: 3px solid #1b1b1b;
    border-right: 3px solid #1b1b1b;
    border-radius: 10px;
}

#mainSearchButton:hover #mainSearchIcon::before {
    color: black;
    font-weight: 800;
    font-size: large;
}

#mainSearchButton:active {
    border-top: 1px;
    border-left: 1px;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
}

/* Labels et filtres */

/* Conteneur des labels et des filtres */
#labelsAndFiltersContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#labelsContainer {
    height: 90px;
}

/* Styles du total des recettes */
#totalRecipes {
    position: relative;
    right: 10px;
    padding: 30px 15px 0 0;
    font-family: 'Anton';
    font-size: 21px;
}

/* Conteneur des cartes de recettes */
#recipesCardsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 50px;
}

.errorMsg{
margin:0 auto}

/* Styles des cartes de recettes */
.recipeCard {
    display: flex;
    flex-direction: column;
    margin: 20px;
    position: relative;
    min-width: 300px;
    width: 30%;
    height: 750px;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
}

/* Styles du temps de cuisson */
.cookingTime {
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: #FFD15B;
    padding: 7.5px 15px;
    border-radius: 15px;
}

/* Styles du conteneur de l'image de recette */
.recipePictureContainer {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

/* Styles de l'image de recette */
.recipePicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styles du contenu de recette */
.recipeContent {
    padding: 10px 25px;
}

/* Styles du nom de la recette */
.recipeName {
    margin: 15px 0 20px 0;
    font-family: 'anton';
    font-size: 1rem;
    font-weight: 400px;
}

/* Styles des titres de carte, des sous-titres de carte et des titres d'ingrédients */
.cardTitle,
.cardSubTitle,
.ingredientsTitle {
    margin: 15px 0 10px 0;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 12px;
    color: #7A7A7A;
    text-transform: uppercase;
}

/* Styles de la description de la recette */
.recipeDescription {
    font-size: 0.85rem;
    height: 90px;
    text-align: left;
    white-space: wrap; /* Empêche le texte de se retourner à la ligne */
    overflow: hidden; /* Cache le texte qui dépasse */
    text-overflow: ellipsis; /* Ajoute l'ellipse à la fin du texte caché */
}

/* Styles de la Btne des ingrédients */
.recipeIngredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    font-size: 1rem;
}

/* Styles des conteneurs d'un ingrédient */
.oneIngredientContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px 0px;
}

/* Styles des mesures d'ingrédients */
.ingredientMesure {
    font-weight: 400;
    font-family: 'Manrope', 'Sans-serif';
    margin: 2px 0;
    font-size: 0.8rem;
}

/* Styles des noms d'ingrédients */
.ingredientName {
    font-weight: 900;
    font-family: 'Manrope', 'Sans-serif';
    margin: 2px 0;
    font-size: 0.9rem;
}

/* Styles des quantités */
.quantity {
    font-size: 1rem;
}