/* Importation des polices Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("./filters.css");
@import url("./labels.css");

/* Réinitialisation des marges, des paddings et de la boîte */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1b1b1b;
}

/* Styles généraux du corps de la page */
body {
  font-family: "Manrope";
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

/* Styles des ellipses */
#ellipseOut {
  width: 1.25rem;
  height: 1.25rem;
}

/* Styles du héros */
#hero {
  background-image: url("../assets/Images/Hero/lampos-aritonang-24gR_9lCdes-unsplash\ 1\ \(1\).png");
  height: 500px;
}

/* Styles du message de bienvenue */
#welcome {
  color: #ffd15b;
  font-family: "anton";
}

/* Styles de la zone de recherche */
#mainSearchInput {
  outline: none;
}

/* Styles du bouton de recherche */
#mainSearchButton {
  width: 2.5rem;
  background-color: #1b1b1b;
}

#mainSearchButton #mainSearchIcon::before {
  color: white;
}

#mainSearchButton:hover {
  background-color: #ffd15b;
}

#mainSearchButton:hover #mainSearchIcon::before {
  color: black;
  font-weight: 800;
}

#mainSearchButton:active {
  border: 1px solid grey;
}

/* Styles du total des recettes */
#totalRecipes {
  font-family: "Anton";
}

/* Styles des cartes de recettes */
.recipeCard {
  height: 740px;
  width: 32%;
}

/* Styles du temps de cuisson */
.CookingTime {
  right: 30px;
  top: 30px;
  background-color: #ffd15b;

  // border-radius: 15px;
}

/* Styles du conteneur de l'image de recette */

/* Styles du nom de la recette */
.recipeName {
  font-family: "anton";
}

/* Styles des titres de carte, des sous-titres de carte et des titres d'ingrédients */
.cardTitle,
.cardSubTitle {
  font-weight: 700;
  font-family: "Manrope";
  font-size: 12px;
}

/* Styles de la description de la recette */
.recipeDescription {
  height: 100px;
  font-size: 0.85rem;
}

/* Styles des mesures d'ingrédients */
.ingredientMesure,
.ingredientName {
  font-family: "Manrope", "Sans-serif";
  margin: 2px 0;
  font-size: 0.8rem;
}

/* Styles des noms d'ingrédients */
.ingredientName {
  font-weight: 700;
}

/* Styles des quantités */
.quantity {
  font-size: 1rem;
}

#labelsContainer {
  height: 40px;
}

.recipePictureContainer {
    height:35%
}