/* Importation des polices Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/* Réinitialisation des marges, des paddings et de la boîte */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #1b1b1b;
}

/* Styles généraux du corps de la page */
body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #f0eeee;
    font-family: 'Manrope';
}

/* Styles de l'en-tête */
header {
    position: absolute;
    background-color: transparent;
    width: 100%;
    z-index: 1;
}

/* Styles du nom du site */
#siteName {
    padding: 20px 0 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

/* Styles du logo */
#logo {
    width: 200px;
}

/* Styles des ellipses */
#ellipseOut {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    margin-left: 10px;
    background-color: aliceblue;
}

#ellipseIn {
    border: 1px solid black;
    width: 75%;
    height: 75%;
    border-radius: 50%;
}

/* Styles du héros */
#hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/Images/Hero/lampos-aritonang-24gR_9lCdes-unsplash\ 1\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 100%;
}

/* Styles du message de bienvenue */
#welcome {
    display: flex;
    text-align: center;
    width: 45%;
    padding: 10px 20px;
    background: transparent;
    height: fit-content;
    color: #FFD15B;
    font-family: 'anton';
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Styles du label de recherche */
#labelSearch {
    display: flex;
    width: 60%;
    border-radius: 5px;
    padding: 5px;
    background-color: aliceblue;
}

/* Styles de la zone de recherche */
#searchInput {
    display: flex;
    height: 100%;
    width: calc(100% - 2rem);
    border: none;
}

/* Styles du bouton de recherche */
#searchInputButton {
    padding: 5px;
    border: 1px solid black;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
    background-color: #1b1b1b;
}

#searchInputButton i {
    color: white;
}

/* Labels et filtres */

/* Conteneur des labels et des filtres */
#labelsAndFiltersContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Conteneurs des filtres et des labels */
#filtersContainer,
#labelsContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 40px;
}

/* Styles des filtres */
#filters {
    display: flex;
    justify-content: space-between;
}

/* Styles du total des recettes */
#totalRecipes {
    position: relative;
    right: 10px;
    padding-top: 30px;
    font-family: 'Anton';
    font-size: 21px;
}

/* Styles des listes d'ingrédients, d'appareils et d'ustensiles, ainsi que des labels */
#ingredientsList,
#appliancesList,
#ustensilesList,
.labels {
    display: flex;
    justify-content: flex-start;
    width: 150px;
    margin: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 15px;
    position: relative;
}


/* Styles des labels */
.labels {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFD15B;
    padding: 15px;
    width: 150px;
}

.labels i::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 550;
    position: absolute;
    top: 18px;
    right: 15px;
    scale: 1.5;
}

/* Styles des textes des listes d'ingrédients, d'appareils et d'ustensiles, ainsi que des labels */
#ingredientsList #text,
#applianceList #text,
#ustensilesList #text,
.labels #text {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 16px;
}

/* Styles des icônes des listes d'ingrédients, d'appareils et d'ustensiles */
#IngredientsList i::before,
#applianceList i::before,
#UstensilesList i::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    top: 18px;
    right: 10px;
}

/* Container de recettes */

/* Conteneur des cartes de recettes */
#RecipesCardsContainer {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

/* Styles des cartes de recettes */
.recipeCard {
    margin: 20px;
    position: relative;
    min-width: 350px;
    width: 28%;
    height: 750px;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
}

/* Styles du temps de cuisson */
.CookingTime {
    position: absolute;
    right: 30px;
    top: 30px;
    background-color: #FFD15B;
    padding: 7.5px 15px;
    border-radius: 15px;
}

/* Styles du conteneur de l'image de recette */
.recipePictureContainer {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

/* Styles de l'image de recette */
.recipePicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Styles du contenu de recette */
.recipeContent {
    padding: 10px 25px;
}

/* Styles du nom de la recette */
.recipeName {
    margin: 15px 0 20px 0;
    font-family: 'anton';
    font-size: 1rem;
    font-weight: 400px;
}

/* Styles des titres de carte, des sous-titres de carte et des titres d'ingrédients */
.cardTitle,
.cardSubTitle,
.IngredientsTitle {
    margin: 15px 0 10px 0;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 12px;
    color: #7A7A7A;
    text-transform: uppercase;
}

/* Styles de la description de la recette */
.recipeDescription {
    font-size: 0.85rem;
    height: 90px;
    text-align: left;
    white-space: wrap; /* Empêche le texte de se retourner à la ligne */
    overflow: hidden; /* Cache le texte qui dépasse */
    text-overflow: ellipsis; /* Ajoute l'ellipse à la fin du texte caché */
}

/* Styles de la liste des ingrédients */
.RecipeIngredients {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    font-size: 1rem;
}

/* Styles des conteneurs d'un ingrédient */
.oneIngredientContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px 0px;
}

/* Styles des mesures d'ingrédients */
.ingredientMesure {
    font-weight: 400;
    font-family: 'Manrope', 'Sans-serif';
    margin: 2px 0;
    font-size: 0.8rem;
}

/* Styles des noms d'ingrédients */
.ingredientName {
    font-weight: 900;
    font-family: 'Manrope', 'Sans-serif';
    margin: 2px 0;
    font-size: 0.9rem;
}

/* Styles des quantités */
.quantity {
    font-size: 1rem;
}
