@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


*,::before,::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin: 0 auto;
}

header{
    
    position: absolute;
    background-color: transparent;
    width:100%;  
    z-index: 1
}


#siteName{
    padding:20px 0 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: end;
}

#logo{
    width:200px;
}
#ellipseOut{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    width:1.25rem;
    height:1.25rem;
    border-radius: 50%;
    margin-left:10px;
    background-color: aliceblue;
}
#ellipseIn{
    border:1px solid black;
    width:75%;
    height:75%;
    border-radius: 50%;
}

#hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./assets/Images/Hero/lampos-aritonang-24gR_9lCdes-unsplash\ 1\ \(1\).png");
    background-repeat: no-repeat;
    background-position: center;
    height:600px;
    width:100%;
    
}

#welcome{
    display: flex;
    text-align: center;
    width:55%;
    padding:10px 20px;
    background: transparent;
    height: fit-content;
    color:#FFD15B;
    font-family: 'anton';
    font-size: 2rem;
}

#labelSearch{
    display: flex;
    width:60%;
    border-radius: 10px;
    padding:5px ;
    background-color: aliceblue;
    height:3rem;
}

#searchInput{
    display: flex;
    height:100%;
    width:calc(100% - 2rem);
    border:none;
}

#searchInputButton{
    display:flex;
    justify-content: center;
    align-items: center;
    width:2.5rem;
    height: 2.5rem;
    border-radius: 10px;
    color:white;
    background-color:#1b1b1b;
    
}
